<div class="page-header">
    <h2><%= link_to(glyphicon_span('tasks') + ' ' + @web_form.name, @web_form) %></h2>
    <h2><%= glyphicon_span('edit') %> Edit Form</h2>
</div>
<%= render partial: 'web_forms/form', locals: { submit_btn_text: 'Update Form', cancel_dest: web_form_path(@web_form) } %>
