<div class="page-header">
    <h2><%= glyphicon_span('plus') %> New Form</h2>
</div>
<%= render partial: 'web_forms/form', locals: { submit_btn_text: 'Create Form', cancel_dest: user_path(current_user) } %>
