<div class="container main-container amicus-container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <h1>No. 00-1999</h1>
      <hr><hr>
      
      <h2>UNITED STATES COURT OF APPEALS<br> FOR THE FOURTH CIRCUIT</h2>
      <p>_________________________</p>
      
      <p>LADY IDOS,</p>
      <p style="font-style: italic">Plaintiff–Appellee,</p>
      <p>v.</p>
      <p>EUNICE LEE</p>
      <p style="font-style: italic">Defendant–Appellant.</p>
      
      <p>ON APPEAL FROM THE UNITED STATES DISTRICT COURT FOR THE DISTRICT OF MARYLAND, SOUTHERN DIVISION</p>
      
      <div style="border-top: 4px double #000; border-bottom: 4px double #000; margin: 3rem 0; padding: 1rem 0;">
        <p>BRIEF OF <span style="font-style: italic">AMICI CURIAE</span> ASSORTED FRIENDS AND FAMILY WHO HAVE BEEN WAITING FOR THIS DAY FOR A LONG TIME IN SUPPORT OF DEFENDANT-APPELLANT</p>
      </div>
      
      <div class="row" style="margin: 3rem 0">
        <% @names.each do |name| %>
          <div class="col-md-4 name-col"><%= name %></div>
        <% end %>
      </div>
    </div>
  </div>
</div>