<h1>Welcome to Reformation</h1>
<h2>This is a web forms service.</h2>
<div class="btn-group btn-group-justified" role="group">
        <div class="btn-group" role="group">
            <a class="btn btn-default" href="<%= signup_path %>">Signup</a>
        </div>
        <div class="btn-group" role="group">
            <a class="btn btn-default" href="<%= login_path %>">Login</a>
        </div>
</div>