<header>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="col-md-6">
              <h3>Virtual Guestbook: Eunice and Lady</h3>
            </div>
        </div>
    </nav>            
</header>
<div class="container main-container">
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-body">
          <h4>Fill out the form below to add your message and share memories:</h4>
          
          <form id='reformation-form' action='/api/web_forms/5/submissions' method='post'>
            <input type='hidden' name='token' value='tpX27oSASw6bT1zd7v8heYfq' />
            <input type='hidden' name='source' value='Reformation Share' />

            <div class="form-group">
              <label for="web_form_field_30">Your name <sup>*</sup></label>
              <input type='text' name='web_form_field_30' placeholder='' class="form-control" id="web_form_field_30" required>
            </div>

            <div class="form-group">
              <label for="web_form_field_31">Your email <sup>*</sup></label>
              <input type="email" class="form-control" id="web_form_field_31" name='web_form_field_31' placeholder='your@email.com' required aria-describedby="emailHelp">
              <small id="emailHelp" class="form-text text-muted">Won't appear publicly anywhere - requested just in case we need to contact you.</small>
            </div>

            <div class="form-group">
              <label for="web_form_field_32">Describe Eunice in 140 characters or less</label>
              <textarea class="form-control" id="web_form_field_32" rows="3" name='web_form_field_32' placeholder='Eunice Lee bakes the best layer cakes in this hemisphere.' maxLength="140"></textarea>
            </div>

            <div class="form-group">
              <label for="web_form_field_36">Describe Lady in 140 characters or less</label>
              <textarea class="form-control" id="web_form_field_36" rows="3" name='web_form_field_36' placeholder='Lady is an amazing listener with an infectious laugh.' maxLength="140"></textarea>
            </div>

            <div class="form-group">
              <label for="web_form_field_33">Send a short message to Eunice and Lady <sup>*</sup></label>
              <textarea class="form-control" id="web_form_field_33" rows="7" name='web_form_field_33' placeholder='Congratulations!!' maxLength="600" required></textarea>
            </div>

            <div class="form-group">
              <label for="web_form_field_34">Image link</label>
              <input type='text' name='web_form_field_34' placeholder='https://live.staticflickr.com/370/myimage.jpg' class="form-control" id="web_form_field_34" aria-describedby="imageHelp">
              <small id="imageHelp" class="form-text text-muted">If you don't have a link to your image, please send it by replying to Stephanie Sun's email with the image attached.</small>
            </div>
            
            <div class="form-group">
              <label for="web_form_field_35">Video link</label>
              <input type='text' name='web_form_field_35' placeholder='https://live.staticflickr.com/370/video.mp4' class="form-control" id="web_form_field_35" aria-describedby="videoHelp">
              <small id="videoHelp" class="form-text text-muted">If you don't have a link to your video, please send it by replying to Stephanie Sun's email with the video attached.</small>
            </div>

            <button type="submit" class="btn btn-primary mb-2">Send</button>
          </form>
        </div>
        <div class="panel-footer">
          <p><strong><sup>*</sup> Required</strong></p>
        </div>
      </div>
    </div>
  </div>
</div>
                  