<div class="page-header">
    <h2><%= glyphicon_span('edit') %> Edit Profile</h2>
</div>
<%= render partial: 'users/form', locals: { submit_btn_text: 'Update Profile', cancel_dest: user_path(current_user) } %>
