<div class="page-header">
    <h2><%= glyphicon_span('edit') %> Sign Up for Reformation</h2>
</div>
<%= render partial: 'users/form', locals: { submit_btn_text: 'Sign Up', cancel_dest: root_path } %>
