<h2><%= @user.name %>'s Profile</h2>
<table class="table">
    <body>
        <tr>
            <th>Name:</th>
            <td><%= @user.name %></td>
        </tr>
        <tr>
            <th>Email:</th>
            <td><%= @user.email %></td>
        </tr>
        <tr>
            <th>:</th>
            <td><%=  %></td>
        </tr>
    </body>
</table>